.loby {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainContainerGame {
    background: var(--color-main-container);

    width: 100vh;
    height: 50vh;

    border: 3px solid black;

    overflow: hidden;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    
    padding-top: 30px;
    padding-bottom: 10px;
}

.title {
    width: 80%;
    height: 100px;

    background-color: #F28F6F;
    border: 2px solid black;

    align-items: center;
    justify-content: center;
    display: flex;

    color: rgb(27, 26, 26);
    font-family: "Pixel";
    font-size: 35px;
    font-weight: 400;
}

.respuestas-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    width: 80%;

    margin: 50px;
}

.respuesta {
    height: 80px;
    font-family: "Pixel";
    font-size: 21px;
    text-align: center;

    color: rgb(27, 26, 26);

    border: 1px solid black;
    background-color: var(--color-buttonNivel-background);
    
    margin: 5px;

    padding: 8px 12px;
}

.siguiente-pregunta {
    width: 100%;
    height: 100px;

    display: flex;
    align-content: center;
    justify-content: center;
}

.buttonGame {
    font-family: "Pixel";
    font-size: 15px;
    background-color: #6A80E6;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;

    padding: 20px;
}

.buttonGame:hover {
    cursor: pointer;
    background-color: rgb(176, 194, 104);
    border-color: #16110d;
}

.respuesta-hover:hover {
    cursor: pointer;
    background-color: yellowgreen;
}

.incorrecta {
    background-color: rgb(197, 30, 30);
}

.correcta {
    background-color: green;
}

@media (max-width: 768px) {
    /* Estilos para tablets y dispositivos móviles */
    .loby {
        height: 100%;
        overflow: hidden;
    }

    .mainContainerGame{
        width: 80%;
        height: 80%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .title {
        text-align: center;
        padding: 5px 5px;
        box-sizing: border-box;
        font-size: 20px;
    }

    .respuesta {
        width: 85%;
        height: auto;
        font-size: 17px;
    }

    .respuestas-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }