body {
    background-color: var(--color-background-loby);
}

/* Webkit */
::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0px;
  }
  
  /* Firefox */
  ::-moz-scrollbar {
    background-color: transparent;
    min-width: 0px;
    max-width: 0px;
    border-radius: 0px;
  }
  
  ::-moz-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0px;
  }

/*Centrar el contenido en el centro de la pantalla*/
.loby {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    background: var(--color-main-container);

    width: 100vh;
    height: 50vh;

    border: 3px solid black;
    

    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    
    padding-top: 30px;
    padding-bottom: 10px;
}

.configurationPanel {
  position: absolute;
  top: 0px;
  right: 0px;

  margin: 30px;
}

.editButton {
  position: relative;
  margin: 15px;
  padding: 5px;

  color: black;

  border: 2px solid var(--color-button-border);
  background-color: var(--color-button-background);
  border-radius: 5px;
  text-decoration: none;
}

.editButton:hover {
  cursor: pointer;
  background-color: var(--color-background-loby);
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;

  
  justify-content: center;
  align-items: center;
}

.dropdown-btn {
  background-color: var(--color-button-background);
  width: 80%;
  
  font-family: "Pixel";
  font-size: 35px;
  font-weight: 400;

  color: #333333;
  padding: 8px;
  border: 2px solid black;
  margin: 15px;
  box-shadow: 1px 3px 7px -2px rgba(0, 0, 0, 0.703);
}

.btn-repaso {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  background-color: var(--color-button-background);
  width: 80%;
  
  font-family: "Pixel";
  font-size: 35px;
  font-weight: 400;

  color: #333333;
  padding: 8px;
  border: 2px solid black;
  margin: 15px;
  box-shadow: 1px 3px 7px -2px rgba(0, 0, 0, 0.703);
}

.btn-repaso:hover {
  cursor: pointer;
}

.dropdown-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Tres columnas con igual tamaño */
  width: 80%;
  gap: 10px;
  z-index: 1;
}

/*Botón de los Temas*/
.dropdown-content-nivel {
  font-family: "Pixel";
  font-size: 16px;
  text-align: center;
  color: #333333;
  background-color: var(--color-buttonNivel-background);
  
  border: 1px solid black;
  
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  box-shadow: 1px 3px 7px -2px rgba(0, 0, 0, 0.703);
}

.dropdown-content-nivel:hover {
  cursor: pointer;
  background-color: khaki;
}

.dropdown-btn:hover {
  cursor: auto;
}

/*.dropdown:hover .dropdown-content {
}*/

.panelConfig {
  z-index: 10;
  position: relative;
  background-color: var(--color-button-background);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 35px 10px 30px 10px;
  gap: 5px;
}

.gear {
  background-color: transparent;
  border: none;
  background-image: url("../../image/gear.png");
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}

.gear:hover {
  cursor: pointer;
  background-image: url("../../image/gear-hover.png");
}

/*Cruceta*/
.close-button {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-button:before, .close-button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 2px;
  background-color: black;
  transform: translate(-50%, -50%);
}

.close-button:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-button:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*Esto garantiza que el margen solo se aplicará cuando sea necesario y que no se superpondrá en la pantalla antes de que se requiera el desplazamiento.*/
/*@media screen and (min-height: calc(50vh + 200px)) {
    .loby {
      padding: 100px 0;
    }
  }*/

  @media (max-width: 768px) {
    /* Estilos para tablets y dispositivos móviles */
    .loby {
      padding: 100px 0;
    }

    .mainContainer {
      width: 80%;
    }
    .dropdown-content {
      grid-template-columns: 1fr 1fr;
    }
  }

