.navbar {
    width: 100%;
    
    background: var(--color-header);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.item {
    margin: 20px auto;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: large;
    border-radius: 10px;
}

.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    font-style: normal;

    color: rgb(252, 255, 206);
}

.arrow {
    position: relative;
}

.firstLine {
    background-color: black;
    height: 2px; 
    width: 10px; 
    position: absolute;
    transform: rotate(50deg) translateZ(0px);
}

.secondLine {
    background-color: black;
    height: 2px; 
    width: 10px; 
    left: 5.5px;
    position: absolute;
    transform: rotate(-50deg) translateZ(10px);
}