:root {
  --color-background: #7ccd18f1;
  --color-header: #58CC02;
  --color-button: #235390;
  --color-button-hover: #50bbd8;
}

body {
  margin: 0;
  background-color: var(--color-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
