.navbar {
    width: 100%;
    height: auto;
    
    background: var(--color-header);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.icon-web {
    width: auto;
    height: 38px;
    fill: none; /* Inicialmente, establece el color de relleno en "none" */
    border: none;
}

.fade-out-up {
        animation: fadeOutUp 0.3s ease-out forwards;
    }

    .fade-out-down {
        animation: fadeOutDown 0.3s ease-out forwards;
    }

    /*Animacion del Header de desvanecimiento hacia arriba*/
    @keyframes fadeOutUp {
        0% {
        opacity: 1;
        transform: translateY(0);
        }
        100% {
        opacity: 0;
        transform: translateY(-100%);
        }
    }

    @keyframes fadeOutDown {
        0% {
        opacity: 0;
        transform: translateY(-100%);
        }
        100% {
        opacity: 1;
        transform: translateY(0);
        }
    }

.item {
    margin: 15px auto;
    display: flex;
}

.item .buttonHeader {
    margin-inline: 10px;
}

.buttonHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-button);

    text-decoration: none;

    border: 2px solid transparent;
    border-radius: 5px;

    font-size: 18px;

    padding: 5px 10px;
    
    color: #ffffff;
}


.buttonHeader:hover {
    cursor: pointer;
    color: var(--color-text);
    background-color: var(--color-button-hover);
    border-color: var(--color-button);
}

.titleHeader {
    font-family: 'Comic Sans MS', cursive; 
    font-size: 30px; 
    color: var(--color-button); 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
    padding: 5px; 
    border: 2px solid var(--color-button);
    display: inline-block; /* Para que el ancho del título se ajuste automáticamente al contenido */
}


.underline-animation {
    text-decoration: none;
    position: relative;

    font-size: 18px;

    color: var(--color-text);;

    display: flex;
    align-items: center;
    justify-content: center;
    
    padding-bottom: 2px;
  }
  
  /*Pintar una linea con animación*/
  .underline-animation::before,
  .underline-animation::after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    height: 2px;
    background-color: var(--color-button);
    transition: right 0.3s, left 0.3s;
  }
  
  .underline-animation::after {
    right: 0;
    left: 100%;
    transition-delay: 0.2s; /* Retraso en la animación de desaparición */
  }
  
  .underline-animation:hover::before,
  .underline-animation:hover::after {
    right: 0;
    left: 0;
  }

  @media (max-width: 768px) {
    /* Estilos para tablets y dispositivos móviles */
    .titleHeader {
        font-size: 28px;
    }

    .icon-web {
        height: 30px;
    }

    .underline-animation {
        font-size: 15px;
    }

    .buttonHeader {
        font-size: 15px;
    }
  }