:root {
  --color-background: #F5F5F5;

  /*Layout, Header*/
  --color-header: #CCCCCC;
  --color-button: #FF6600;
  --color-button-hover: #FF944D;
  --color-text: #343434;
  
  /*Color de fondo de la aplicación*/
  --color-background-loby: #9ad0e6;
  /*Color de fondo del contenedor central de los temarios*/
  --color-main-container: #6ca8c7;
  /*Color del contenedor de los Temarios*/
  --color-button-background: #ffd56a;
  /*Color del botón de cada Tema*/
  --color-buttonNivel-background: #76c8e0;
  /*Color de fondo del contenedor central de las preguntas*/
  --color-contenedor-central-preguntas: #F5F5F5;
  /*Color del contenedor de cada pregunta*/
  --color-contenedor-pregunta: #B5B5B5;
  /*Color del contenedor de selección de respuesta*/
  --color-contenedor-respuesta: #DBDBDB;
  /*Color botón siguiente en la sección de preguntas*/
  --color-boton-siguiente: #c5e8f3;
}

body {
  margin: 0;
  background-color: var(--color-background);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Title Pixel";
  src: url("../image/04B_30__.TTF");
}

@font-face {
  font-family: "Pixel";
  src: url("../image/upheavtt.ttf");
}
