:root {
  --color-background: rgb(218, 196, 173);

  /*Layout, Header*/
  --color-header: #f0d5b9;
  --color-button: #f0af53;
  --color-button-hover: #efd5b1;
  
  --color-background-loby: #75c5e6;
  --color-main-container: #E6B175;
  --color-main-container-border: #d6b67a;
  --color-button-background: #B39849;
  --color-button-border: #f0af53;
  --color-buttonNivel-background: #75C4E6;
  --color-buttonNivel-border: #72ad58;
}

body {
  margin: 0;
  background-color: var(--color-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Title Pixel";
  src: url("../image/04B_30__.TTF");
}

@font-face {
  font-family: "Pixel";
  src: url("../image/upheavtt.ttf");
}
