:root {
  --color-background: #f5f5f5;

  /*Layout, Header*/
  --color-header: #cccccc;
  --color-button: #ff6600;
  --color-button-hover: #ff944d;
  --color-text: #343434;

  /*Color de fondo de la aplicación*/
  --color-background-loby: #00f9ff;
  /*Color de fondo del contenedor central de los temarios*/
  --color-main-container: #0062ff92;
  /*Color del contenedor de los Temarios*/
  --color-button-background: #ffc800d0;
  /*Color del botón de cada Tema*/
  --color-buttonNivel-background: #00c3ffdb;
  /*Color de fondo del contenedor central de las preguntas*/
  --color-contenedor-central-preguntas: #ffa600b5;
  /*Color del contenedor de cada pregunta*/
  --color-contenedor-pregunta: #ffffffbf;
  /*Color del contenedor de selección de respuesta*/
  --color-contenedor-respuesta: #ffffffbf;
  /*Color botón siguiente en la sección de preguntas*/
  --color-boton-siguiente: #ffffffd0;

  --color-respuesta-correcta: green;
  --color-respuesta-incorrecta: red;

  --color-texto-preguntas: #000000;
  --color-texto-respuestas: #000000;
}

body {
  margin: 0;
  /*background-color: var(--color-background);*/
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-size: 100% 100%;
  color: var(--color-text);
}

button {
  all: unset;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #000000;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tbody tr:nth-child(even) {
  background-color: #8e8e8e;
}

.table tbody tr:nth-child(odd) {
  background-color: #dbdbdb;
}

.filter {
  margin: 0 0 20px 10px;
}

.filter label {
  font-weight: bold;
  margin-right: 10px;
}

.filter select {
  padding: 6px;
  font-size: 14px;
}

@font-face {
  font-family: "Title Pixel";
  src: url("../image/04B_30__.TTF");
}

@font-face {
  font-family: "Pixel";
  src: url("../image/upheavtt.ttf");
}
